.env
.env.*
!.env.example

config/firebase-key.json
firebase-key.json
*.json

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

logs
*.log

pids
*.pid
*.seed
*.pid.lock

coverage/

node_modules/

.npm

.node_repl_history

*.tgz

.yarn-integrity

.env

.env
config/firebase-key.json